/* --------------------------------------------------------------------------
Hosted Fonts
-----------------------------------------------------------------------------*/

@font-face {
  font-family: "Teodor";
  src: url(" //cdn.shopify.com/s/files/1/0488/9696/6814/t/19/assets/Teodor-Light.woff2?v=11594161639091842411664501747 ") format("woff2"), url(" //cdn.shopify.com/s/files/1/0488/9696/6814/t/19/assets/Teodor-Light.woff?v=181829919549671769961664501747 ") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Teodor";
  src: url(" //cdn.shopify.com/s/files/1/0488/9696/6814/t/19/assets/Teodor-LightItalic.woff2?v=67716792350874982781664501747 ") format("woff2"), url(" //cdn.shopify.com/s/files/1/0488/9696/6814/t/19/assets/Teodor-LightItalic.woff?v=41496738414289173761664501747 ") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Mabry";
  src: url(" //cdn.shopify.com/s/files/1/0488/9696/6814/t/19/assets/mabry-light-pro.woff2?v=17659180897365154981664501747 ") format("woff2"), url(" //cdn.shopify.com/s/files/1/0488/9696/6814/t/19/assets/mabry-light-pro.woff?v=88267321426281075971664501747 ") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Mabry";
  src: url(" //cdn.shopify.com/s/files/1/0488/9696/6814/t/19/assets/mabry-regular-pro.woff2?v=22606181054299353821664501747 ") format("woff2"), url(" //cdn.shopify.com/s/files/1/0488/9696/6814/t/19/assets/mabry-regular-pro.woff?v=122700717620523145021664501747 ") format("woff");
  font-weight: 400;
  font-style: normal;
}
