<!--<section class="returns">
  <div class="returns__container">
    <h1 class="text-center returns__title">Returns & Exchanges</h1>
    <a href="https://casa-de-suna.returnly.com/" target="_blank" class="button returns__cta">Start a Return</a>
  </div>
</section>

<section class="returns-steps__section">
  <h2 class="center returns-steps__title">Your Next Steps</h2>

  <div class="returns-steps__container">
    <img src="https://cdn.shopify.com/s/files/1/0488/9696/6814/files/returns-steps-transparent.png?v=1650434597" alt="" class="returns-steps__img" loading="lazy">
    <div class="returns-steps__steps">
      <p class="returns-step">1 — Select the items to return</p>
      <p class="returns-step">2— Get a refund confirmation</p>
      <p class="returns-step">3— Print your USPS return label</p>
    </div>
  </div>
</section>-->

{% section 'returns-faq' %}